@charset "UTF-8";
/*☺ _vars*/
/*☺ _text.scss*/
@import url("https://use.typekit.net/fgl2ufc.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.fw-100 {
    font-weight: 100; }

.fw-200 {
    font-weight: 200; }

.fw-300 {
    font-weight: 300; }

.fw-400 {
    font-weight: 400; }

.fw-500 {
    font-weight: 500; }

.fw-600 {
    font-weight: 600; }

.fw-700 {
    font-weight: 700; }

.fw-800 {
    font-weight: 800; }

.fw-900 {
    font-weight: 900; }

.text-skyblue {
    color: #63a3f8; }

.main{
    min-height: 100vh;
}
.modal-title {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    line-height: 2.2rem;
    font-style: normal; }

.texto-form {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.7rem;
    font-style: normal; }
body{
    background-color: skyblue;
}
.bg-skyblue{
    background-color: skyblue;
}

/*☺ _commons.scss*/
* {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box; }

.w-3 {
    width: 3vw;
    min-width: 30px; }

.w-10 {
    width: 5vw; }

.w-30 {
    width: 30%; }

.w-70 {
    width: 70%; }

.w-90 {
    width: 90%; }

.w-40 {
    width: 45%; }

.w-60 {
    width: 75%; }

/*☺ _navbar.scss*/
#mainNavigation {
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 15px;
    background-image: url('../src/assets/vuelos-.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;}
    #mainNavigation nav a {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px; }
    #mainNavigation nav .logo {
    width: 250px;
    min-width: 50px; }
    #mainNavigation .perfil {
        width: 30px;
        min-width: 30px;
        margin-left: 1rem;
        margin-top: 1rem; }
        #mainNavigation .perfil:hover {
            box-shadow: 0 4px 8px 0 #ffffff, 0 6px 20px 0 #ffffff;
            border-radius: 50%;
            transform: scale(1.5);
            transition: transform 1.5s;}
    @media (min-width: 768px) {
        #mainNavigation .perfil {
            margin-top: 0; } }
            

    .nav-item {
        text-decoration: none;
        min-width: 12vw;
        border-bottom: 1px solid #63a3f8; }
        @media (min-width: 768px) {
            .nav-item {
                border-bottom: none; } }
        .nav-item {
            color: #000000;
            text-align: left; }
            .nav-item:hover {
                color: #ffffff;
                font-weight: 500;
                transform: translateX(30px);
                transition: transform 1.3s; }
        @media (min-width: 768px) {
            .nav-item {
                font-weight: 500;
            text-align: center; }
            .nav-item:hover {
                color: white;
                transform: scale(1.3);
                transition: transform 1.3s; } }
        .nav-item:hover {
        color: #ffffff; }
        .nav-item:hover {
        text-shadow: 5px 5px 10px #ffffff; }

        .modal .modal-dialog .modal-content {
            background-color: #caeffe;
            border: solid #63a3f8 3px; }

        @media (min-width: 576px) {
            .modal .modal-dialog {
                max-width: 70%;
                margin: 2rem auto; } }

        @media (min-width: 768px) {
            .modal .modal-dialog {
                max-width: 50%;
                margin: 2rem auto; } }

        .modal .modal-dialog-login {
            width: 80vw;
            margin-left: auto;
            margin-right: auto; }
            @media (min-width: 576px) {
                .modal .modal-dialog-login {
                max-width: 60%;
                margin: 2rem auto; } }
            @media (min-width: 768px) {
                .modal .modal-dialog-login {
                max-width: 40%;
                margin: 2rem auto; } }

main {
    min-height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px; }

        .servicios {
            width: 75%;
            align-self: flex-end; }
        .servicio {
            width: 20px;
            margin-right: 10px; }

            .star {width: 25px; }

/*☺ _footer.scss*/

footer {
    padding: 1rem 0;
    margin-top: 0;
    background-image: url(../src/assets/vuelos-.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
    display: flex;
    justify-content: center;
align-items: center;
align-content: center; }
footer .redes-sociales, footer .pie-contacto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0; }
    footer .copy {
        align-items: center; }
    footer .copy h6 {
        font-weight: 500;
        text-align: center;
    color: #000000; }
    @media (max-width: 768px) {
        footer .copy h6 {
        margin-bottom: 0; } }
footer img[alt^="icono"] {
    width: 30px; }

